// @todo its too bad we don't have the sass sources to this theme's styles:
@import "screen";


@font-face {
  font-family: "HandelGothicBT";
  src: url("/assets/fonts/HandelGothicBT.ttf")
}

body>header h1 {
  font-family: "HandelGothicBT", Helvetica, Arial, sans-serif;
}
body>header h1 span:nth-child(1) {
  // background-color: #8891C1;
  // color: #222530;
  font-style: italic;
}
body>header h1 span:nth-child(2) {
  // background-color: #F1DD3F;
  // color: #323330;
  // font-style: italic;
}

.clearfix {
  clear: both;
  display: block;
}

.on-the-githubs abbr {
  display: none;
}

.on-the-githubs p {
  width: 200px;
}

.on-the-githubs li {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border: 0px none;
}

section.authors {
  entry {
    display: none;
  }
}
