// @todo its too bad we don't have the sass sources to this theme's styles:
@import "screen";


@font-face {
  font-family: "HandelGothicBT";
  src: url("/assets/fonts/HandelGothicBT.ttf")
}

body>header h1 {
  font-family: Helvetica, Arial, sans-serif;
}
body>header h1 span:nth-child(1) {
  // background-color: #8891C1;
  // color: #222530;
  // font-style: italic;
}
body>header h1 span:nth-child(2) {
  // background-color: #F1DD3F;
  // color: #323330;
  // font-weight: italic;
}

.clearfix {
  clear: both;
  display: block;
}

.on-the-githubs abbr {
  display: none;
}

.on-the-githubs p {
  width: 200px;
}

.on-the-githubs li {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border: 0px none;
}

section.authors {
  entry {
    display: none;
  }
}

#locutus-banner {
  // border: 3px solid #E8E8E8;
  // background: #fff;
  // width: 100%;
  // padding: 0;

  p {
    font-size: 90%;
    text-align: center;
  }

  img {
    background: #fff;
    margin: 0;
    border: 0;
    width: 100%;
  }
}

ul.language-list {
  list-style-type: none;

}
