<footer id="footer">
    <div class="outer">
        <div id="footer-info" class="inner">
            &copy; 2007-<%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> and <a href="/authors">authors</a>.<br>
            Arwork by <a href="https://troydodd.deviantart.com/art/Locutus-of-Borg-217586598">Troy Dodd</a>.

        </div>
    </div>
</footer>
