// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

ul, ol {
	margin-left: 18px;
}


.pre-code ::selection,
.pre-code ::-moz-selection,
.pre-code ::-webkit-selection,
html .gist .gist-file .gist-syntax .gist-highlight pre ::selection,
html .gist .gist-file .gist-syntax .gist-highlight pre ::-moz-selection,
html .gist .gist-file .gist-syntax .gist-highlight pre ::-webkit-selection,
.highlight code ::selection
.highlight code ::-moz-selection
.highlight code ::-webkit-selection
{
	background: #b1d0f3 !important;
	color: inherit;
	text-shadow: #FDF6E3 0 1px;
}
