<!DOCTYPE html>

<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>About php.js - php.js</title>
  <meta name="author" content="Kevin van Zonneveld">


  <meta name="description" content="{{site.description}}">


  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="canonical" href="http://phpjs.org/about/">
  <link href="/favicon.ico" rel="shortcut icon">
  <link href="/assets/build/app.css" media="screen, projection" rel="stylesheet" type="text/css">
  <script src="/assets/build/head.js"></script>
  <link href="//kvz.github.io/on-the-githubs/css/on-the-githubs.min.css" rel="stylesheet" />
  <link href="{{ site.subscribe_rss }}" rel="alternate" title="php.js" type="application/atom+xml">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
  <link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">


  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-63083-7']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>


</head>

<a target="_blank" href="https://github.com/kvz/phpjs">
  <img id="fork-us" style="position: absolute; z-index: 99; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub">
</a>

<body>
  <header role="banner">
    <hgroup>
      <div id="logo">
        <h1><a href="/">{{site.name}}</a></h1>
        <div class="clear"></div>
      </div>



      <h2>{{site.meta_description}}</h2>

      <div class="clear"></div>
    </hgroup>

  </header>
  <nav role="navigation">
    <ul class="subscription" data-subscription="rss">
      <li><a href="{{ site.subscribe_rss }}" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>

    </ul>

    <form action="http://google.com/search" method="get">
      <fieldset role="search">
        <input type="hidden" name="q" value="site:phpjs.org" />
        <input class="search" type="text" name="q" results="0" placeholder="Search" />
      </fieldset>
    </form>

    <ul class="main-navigation">
      <li><a href="/about/">About</a></li>
      <li><a href="/blog/archives/">Blog</a></li>
      <li><a href="/functions/">Functions</a></li>
      <li><a href="https://github.com/kvz/phpjs/graphs/contributors">Authors</a></li>
    </ul>

  </nav>
  <div id="main">
    <div id="content">

      {{content}}


      <aside class="sidebar">

        <section>
          <h1>Advertisement</h1>
          <div id="carbonads-container" style="padding-top: 20px !important; padding-left: 40px !important; ">
            <div class="carbonad">
              <div id="azcarbon"></div>
              <script type="text/javascript">
                var z = document.createElement("script");
                z.type = "text/javascript";
                z.async = true;
                z.src = "http://engine.carbonads.com/z/55999/azcarbon_2_1_0_VERT";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(z, s);
              </script>
            </div>
          </div>

          <h1>Uploading &amp; Encoding</h1>
          <p>
            Struggling with file uploads? I run a startup called
            <a title="File uploading &amp; encoding as a service" style="color: #3464a4;" href="https://transloadit.com">Transloadit</a> that deals with progress bars, ffmpeg, imagemagick so you can focus on your web/app. Check it out.
          </p>
        </section>

        <!-- Generated by Rakefile:build -->
        <section>
          <h1>Categories</h1>
          <ul id='category-list'>
            <li><a href="/categories/array">array</a></li>

            <li><a href="/categories/bc">bc</a></li>

            <li><a href="/categories/ctype">ctype</a></li>

            <li><a href="/categories/datetime">datetime</a></li>

            <li><a href="/categories/exec">exec</a></li>

            <li><a href="/categories/filesystem">filesystem</a></li>

            <li><a href="/categories/funchand">funchand</a></li>

            <li><a href="/categories/i18n">i18n</a></li>

            <li><a href="/categories/info">info</a></li>

            <li><a href="/categories/json">json</a></li>

            <li><a href="/categories/math">math</a></li>

            <li><a href="/categories/misc">misc</a></li>

            <li><a href="/categories/net-gopher">net-gopher</a></li>

            <li><a href="/categories/network">network</a></li>

            <li><a href="/categories/pcre">pcre</a></li>

            <li><a href="/categories/strings">strings</a></li>

            <li><a href="/categories/url">url</a></li>

            <li><a href="/categories/var">var</a></li>

            <li><a href="/categories/xdiff">xdiff</a></li>

            <li><a href="/categories/xml">xml</a></li>

          </ul>
        </section>
        <section>
          <h1>On the githubs</h1>
          <style>
            .on-the-githubs abbr {
              display: none !important;
            }

            .on-the-githubs p {
              width: 200px;
            }

            .on-the-githubs li {
              box-shadow: none !important;
              -webkit-box-shadow: none !important;
              -moz-box-shadow: none !important;
              border: 0px none !important;
            }
          </style>
          <ul class="on-the-githubs" data-event-source="repos/kvz/phpjs">Loading...</ul>
          <br />
          <br />
        </section>


        <section>
          <h1>Badges</h1>

          <p>
            <a href="http://travis-ci.org/kvz/phpjs"><img src="https://secure.travis-ci.org/kvz/phpjs.png?branch=master" /></a>
            <br />
            <a href="https://npmjs.org/package/phpjs"><img src="http://badge.fury.io/js/phpjs.png" /></a>
            <br />
            <a href="https://david-dm.org/kvz/phpjs"><img src="https://david-dm.org/kvz/phpjs.png?theme=shields.io" /></a>
            <br />
            <a href="https://david-dm.org/kvz/phpjs#info=devDependencies"><img src="https://david-dm.org/kvz/phpjs/dev-status.png?theme=shields.io" /></a>
            <br />
          </p>

          <h1>Sponsor development</h1>

          <p>
            <a href="https://www.gittip.com/kvz/"><img src="http://img.shields.io/gittip/kvz.png" /></a>
            <br />
            <a href="https://flattr.com/submit/auto?user_id=kvz&url=https://github.com/kvz/phpjs&title=phpjs&language=&tags=github&category=software"><img src="http://img.shields.io/flattr/donate.png?color=yellow" /></a>
            <br />
            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=kevin%40vanzonneveld%2enet&lc=NL&item_name=Open%20source%20donation%20to%20Kevin%20van%20Zonneveld&currency_code=USD&bn=PP-DonationsBF%3abtn_donate_SM%2egif%3aNonHosted"><img src="http://img.shields.io/paypal/donate.png?color=yellow" /></a>
            <br />
            <a href="https://coinbase.com/checkouts/19BtCjLCboRgTAXiaEvnvkdoRyjd843Dg2"><img src="http://img.shields.io/bitcoin/donate.png?color=yellow" /></a>
            <br />
          </p>
        </section>


      </aside>


    </div>
  </div>
  <footer role="contentinfo">
    <p>
      Copyright &copy; 2007 - <a href="http://twitter.com/kvz">Kevin van Zonneveld</a> and <a href="/authors/">contributors</a> -
      <span class="credit">Powered by <a href="http://jekyllrb.com">Jekyll</a></span> -
      <span class="credit">Theme by <a href="http://melandri.net/2012/07/23/darkstripes-octopress-theme-released/">alessandro melandri</a></span>
    </p>

  </footer>


  <script type="text/javascript">
    var disqus_shortname = 'phpjs';

    // var disqus_developer = 1;
    var disqus_identifier = 'http://phpjs.org/about/index.html';
    var disqus_url = 'http://phpjs.org/about/index.html';
    var disqus_script = 'embed.js';

    (function() {
      var dsq = document.createElement('script');
      dsq.type = 'text/javascript';
      dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    }());
  </script>



  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#appId=212934732101925&xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>



  <script type="text/javascript">
    (function() {
      var script = document.createElement('script');
      script.type = 'text/javascript';
      script.async = true;
      script.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(script, s);
    })();
  </script>



  <script type="text/javascript">
    (function() {
      var twitterWidgets = document.createElement('script');
      twitterWidgets.type = 'text/javascript';
      twitterWidgets.async = true;
      twitterWidgets.src = 'http://platform.twitter.com/widgets.js';
      document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
    })();
  </script>


  <script src="/assets/build/app.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//kvz.github.io/on-the-githubs/js/jquery.on-the-githubs.min.js"></script>


  <script type="text/javascript">
    $('.on-the-githubs').onthegithubs();
    // If you use bootstrap and want to enable tooltips
    // $('a[rel]').tooltip();
  </script>



</body>

</html>
