<!DOCTYPE html>

<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <title>{{page.title}} - php.js</title>
  <meta name="author" content="Kevin van Zonneveld">


  <meta name="description" content="{{site.description}}">


  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="canonical" href="http://phpjs.org/about/">
  <link href="/favicon.ico" rel="shortcut icon">
  <link href="/assets/build/app.css" media="screen, projection" rel="stylesheet" type="text/css">
  <script src="/assets/build/head.js"></script>
  <link href="//kvz.github.io/on-the-githubs/css/on-the-githubs.min.css" rel="stylesheet" />
  <link href="{{ site.subscribe_rss }}" rel="alternate" title="php.js" type="application/atom+xml">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
  <link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
</head>

<a target="_blank" href="https://github.com/kvz/phpjs">
  <img id="fork-us" style="position: absolute; z-index: 99; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub">
</a>

<body>
  <header role="banner">
    <hgroup>
      <div id="logo">
        <h1><a href="/"><span>php</span><span>.js</span></a></h1>
        <div class="clear"></div>
      </div>

      <h2>{{site.meta_description}}</h2>

      <div class="clear"></div>
    </hgroup>

  </header>
  <nav role="navigation">
    <ul class="subscription" data-subscription="rss">
      <li><a href="{{ site.subscribe_rss }}" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>

    </ul>

    <form action="http://google.com/search" method="get">
      <fieldset role="search">
        <input type="hidden" name="q" value="site:phpjs.org" />
        <input class="search" type="text" name="q" results="0" placeholder="Search" />
      </fieldset>
    </form>

    <ul class="main-navigation">
      <li><a href="/about/">About</a></li>
      <li><a href="/blog/archives/">Blog</a></li>
      <li><a href="/functions/">Functions</a></li>
      <li><a href="https://github.com/kvz/phpjs/graphs/contributors">Authors</a></li>
    </ul>

  </nav>
  <div id="main">
    <div id="content">

      {{content}}


      <aside class="sidebar">
        {% include sidebar.html %}
      </aside>


    </div>
  </div>
  <footer role="contentinfo">
    <p>
      Copyright &copy; 2007-{{ site.time | date: '%Y' }} - <a href="http://twitter.com/kvz">Kevin van Zonneveld</a> and <a href="/authors/">contributors</a> -
      <span class="credit">Powered by <a href="http://jekyllrb.com">Jekyll</a></span> -
      <span class="credit">Theme by <a href="http://melandri.net/2012/07/23/darkstripes-octopress-theme-released/">alessandro melandri</a></span>
    </p>

  </footer>

  <script src="/assets/build/app.js"></script>
  <script src="//kvz.github.io/on-the-githubs/js/jquery.on-the-githubs.min.js"></script>


  <script type="text/javascript">
    $('.on-the-githubs').onthegithubs();
    // If you use bootstrap and want to enable tooltips
    // $('a[rel]').tooltip();
  </script>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-63083-7']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
