---
layout: page
---

{% assign language = "notfound" %}

{% for lang in site.languages %}
  {% if lang.name == page.language %}
    {% assign language = lang %}
    {% break %}
  {% endif %}
{% endfor %}

<p>
  Here’s what our current JavaScript equivalent to
  {{ language.origin_template |replace: '[human]', language.human  |replace: '[category]', page.category |replace: '[function]', page.function }}
  looks like.
</p>

{% highlight javascript %}
{{content|replace: 'module.exports = ', ''}}
{% endhighlight %}

<a class="basic-alignment left themebutton" href="https://github.com/kvz/locutus/blob/master/functions/{{page.category}}/{{page.function}}.js">View on GitHub</a>
<a class="basic-alignment left themebutton" href="https://github.com/kvz/locutus/edit/master/functions/{{page.category}}/{{page.function}}.js">Edit on GitHub</a>
<a class="basic-alignment left themebutton" href="https://raw.githubusercontent.com/kvz/locutus/master/functions/{{page.category}}/{{page.function}}.js">Source on GitHub</a>

<div class="clearfix"></div>

<h2>How to use</h2>
<p>
  NPM is the recommended installation method. It pairs nicely with a CommonJS
  module bundler such as
  <a href="http://browserify.org/" target="_blank" rel="external">Browserify</a>,
  <a href="http://webpack.github.io/" target="_blank" rel="external">webpack</a> or
  <a href="http://rollupjs.org/" target="_blank" rel="external">rollup.js</a>.
</p>

{% highlight bash %}
npm install --save --save-exact locutus
{% endhighlight %}

{% highlight javascript %}
var {{page.function}} = require('locutus/{{page.language}}/{{page.category}}/{{page.function}}')
// and you can use `{{page.function}}` here

// Alternatively you could require `{{page.category}}` like so:
var {{page.category}} = require('locutus/{{page.language}}/{{page.category}}')
// and you can use `{{page.category}}.{{page.function}}` here
{% endhighlight %}

{% if page.language == "php" && page.category == "array" %}
<h2>PHP arrays and JavaScript</h2>
<p>
  Please note that Locutus uses JavaScript objects as substitutes for PHP arrays,
  they are the closest we can get to this hashtable-like data structure without
  rolling our own. While many JavaScript implementations preserve the order of object properties, the
  <a href="http://www.ecma-international.org/ecma-262/5.1/#sec-8.6">ECMAScript Language Specification</a>
  explicitly states that:
</p>

<blockquote>The mechanics and order of enumerating the properties is not specified.</blockquote>

<p>
  So don't use this for anything serious if you rely on the order to be consistent accross platforms.
</p>
{% endif %}

<h2>A community initiative</h2>
<p>
  Locutus offers community built functions and goes by the
  <a href="https://medium.com/what-i-learned-building/9216e1c9da7d">McDonald’s Theory</a>.
  We’ll put online functions that aren't perfect, in the hopes to spark better contributions.
  Do you have one? You can directly edit this file on GitHub, this will create a Pull Request that
  the core team can review, and merge into our codebase.
</p>
<p>
  This way of working also means that we don't offer any
  production guarantees, and recommend to use Locutus inspiration
  and learning purposes only.
</p>

{% if page.notes != empty %}
  <h2>Notes</h2>
  {% for note in page.notes %}
    {{note |markdownify}}
  {% endfor %}
{% endif %}

{% if page.dependencies != empty %}
  <h2>Dependencies</h2>

  <ul>
  {% for dependency in page.dependencies %}
    <li><a href="/functions/{{dependency}}">{{dependency}}</a></li>
  {% endfor %}
  </ul>
{% endif %}

{% if page.examples %}
  {% for example in page.examples | limit: 3 %}
    <h2>Example {{forloop.index}}</h2>
    {% assign return = page.returns[forloop.index0] %}

    {% highlight javascript %}{{ example }}{% endhighlight %}

    Should return:
    {% highlight javascript %}{{ return }}{% endhighlight %}
  {% endfor %}

  <blockquote>
    Please not that our examples are also test cases that we use to automatically verify
    our functions work correctly. This would explain that they are
    not always as straightforward to human beings.
  </blockquote>

{% endif %}

{% include add_more.html language=language.name inspiration_urls=language.inspiration_urls %}

<p>
  <a class="basic-alignment left themebutton" href="/{{page.language}}/#{{page.category}}">&laquo; More {{language.human}} {{page.category}} functions</a>
</p>
