{
  "extends": "standard",
  "rules": {
    "max-len": [
      "warn",
      {
        "code": 120,
        "ignoreUrls": true,
        "ignorePattern": "(^module\\.exports|.+\\.\\./info/ini_get.+|^  //\\s+_?(returns|example))"
      }
    ],
    "no-cond-assign": "warn",
    "no-unreachable-loop": "warn",
    "no-use-before-define": "warn",
    "node/no-deprecated-api": "warn",
    "prefer-regex-literals": "warn",
    "valid-typeof": "warn",
    "no-control-regex": "warn",
    "no-mixed-operators": "warn",
    "prefer-const": "warn",
    "no-empty": "warn",
    "no-prototype-builtins": "off",
    "multiline-ternary": "off"
  },
  "env": {
    "mocha": true,
    "browser": true,
    "node": true
  }
}
