tools/_temp/*
dist/
nbproject
.project
.gitup.dat
node_modules/
.DS_Store
.idea
npm-debug.*
env.sh
website/vendor/bundle/
website/_site/
website/node_modules/
website/vendor/bundle/
website/.jekyll-assets-cache
website/.asset-cache
website/assets/bower/
website/assets/build/
website/vendor/cache/
website/.jekyll-metadata
scripts/main.js
scripts/split-*.js
scripts/main.js.map
website/public
website/db.json
website/.deploy_git
.yarn/install-state.gz
