<ul class="main-navigation">
  <li><a href="{{ root_url }}/about">About</a></li>
  <li><a href="{{ root_url }}/blog/archives">Blog</a></li>
  <li><a href="{{ root_url }}/functions">Functions</a></li>
  <li><a href="{{ root_url }}/authors">Authors</a></li>
  <li><a target="_blank" href="https://github.com/kvz/phpjs/wiki/_pages">Wiki</a></li>
  <li><a target="_blank"  href="http://twitter.com/phpjs">@phpjs</a></li>
  <li><a target="_blank"  href="http://identi.ca/brettz9">@brettz9</a></li>
  <li><a target="_blank"  href="http://twitter.com/kvz">@kvz</a></li>
</ul>
