<div class="widget-wrap widget-list">
  <h3 class="widget-title"><%= __('widget.on_the_githubs') %></h3>
  <div class="widget widget-on_the_githubs">
    <div class="on-the-githubs" data-event-source="repos/locutusjs/locutus">Loading...</div>
  </div>
</div>
