<% if (curLang.language !== 'php') { %>
  <h2><%= header %></h2>
  <p>
    We could still assimilate many more functions to this language.
    Get inspiration from
    <%- curLang.inspiration_urls.join(', ') %>.
    Afterwards you can click "New file" in the appropriate folder
    <a href="https://github.com/kvz/locutus/tree/master/src/<%= curLang.language %>/">on GitHub</a>.
    This will fork the project to your account, directly add the file to it, and send a
    Pull Request to us. We will then review it. If it's useful to the project and in line with our
    <a href="https://github.com/kvz/locutus/CONTRIBUTING.md">contributing guidelines</a>
    your work will become part of Locutus and you'll be credited in the <a href="/authors">authors</a>
    section accordingly.
  </p>
<% } %>
