<% if (curLang.language !== 'php') { %>
  <%
  var cnt = site.pages.find({ language: curLang.language, type: 'function' }).length
  var header = 'Help us add more'
  if (cnt <= 50) {
    header = 'We have ' + cnt + ' ' + curLang.human + ' function'
    if (cnt !== 1) {
      header += 's'
    }
    header += ' so far - help us add more'
  }
  %>

  <h2><%= header %></h2>
  <p>
    Got a rainy Sunday afternoon and a taste for a porting puzzle?
  </p>
  <ul>
    <li>
      Get inspiration from
      <%- curLang.inspiration_urls.join(', ') %>.
    </li>
    <li>
      Click "New file" in the appropriate folder
      <a href="https://github.com/locutusjs/locutus/tree/main/src/<%= curLang.language %>/">on GitHub</a>.
      This will fork the project to your account, directly add the file to it, and send a
      Pull Request to us.
    </li>
  </ul>

  <p>
    We will then review it. If it's useful to the project and in line with our
    <a href="https://github.com/locutusjs/locutus/CONTRIBUTING.md">contributing guidelines</a>
    your work will become part of Locutus and you'll be automatically credited
    in the <a href="/authors">authors</a>
    section accordingly.
  </p>

  <hr>

<% } %>
