<% if (curLang.language !== 'php') { %>
  <%
  var cnt = site.pages.find({ language: curLang.language, type: 'function' }).length
  var header = 'Ehm.. Only ' + cnt + ' ' + curLang.human + ' function'
  if (cnt !== 1) {
    header += 's'
  }
  header += ' in all of Locutus?'
  if (cnt > 50) {
    header = 'Welcoming your addition'
  }
  %>

  <h2><%= header %></h2>
  <p>
    We could still assimilate many more functions to this language.

    We only just <a href="/2016/05/announcing-locutus/">rolled out multilingual  support to Locutus</a>.
    If you fancy a challenge, we'd love your help
    expanding that.

    For instance, you could:
  </p>
  <ul>
    <li>
      Get inspiration from
      <%- curLang.inspiration_urls.join(', ') %>.
    </li>
    <li>
      Click "New file" in the appropriate folder
      <a href="https://github.com/kvz/locutus/tree/master/src/<%= curLang.language %>/">on GitHub</a>.
      This will fork the project to your account, directly add the file to it, and send a
      Pull Request to us.
    </li>
  </ul>

  <p>
    We will then review it. If it's useful to the project and in line with our
    <a href="https://github.com/kvz/locutus/CONTRIBUTING.md">contributing guidelines</a>
    your work will become part of Locutus and you'll be automatically credited
    in the <a href="/authors">authors</a>
    section accordingly.
  </p>

  <hr>

<% } %>
