{% assign sortedLanguages = site.languages | sort: 'order' %}
{% for language in sortedLanguages %}
  {% if include.only_languages == "*" or include.only_languages == language.name %}
    <h2 id="{{language.name}}">{{language.human}} functions in JS</h2>

    {% assign categories = site.functions |where: "language", language.name |group_by site.functions, "category" %}

    {% if include.with_functions == false %}<ul id='category-list'>{% endif %}
      {% for category in categories %}
        {% if include.with_functions %}
          <h3 id="{{ category.name }}">{{category.name}} ({{category.items |size}})</h3>
        {% else %}
          <li>
            <a href="/{{ language.name }}/#{{ category.name }}">{{category.name}}</a>
            ({{category.items |size}})
          </li>
        {% endif %}

        {% if include.with_functions %}
          <ul id='function-list'>
            {% for function in category.items %}
            <li>
              <a href="/{{function.language}}/{{function.category}}/{{function.function}}">{{function.function}}</a>
            </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
    {% if include.with_functions == false %}</ul><br />{% endif %}
  {% endif %}
{% endfor %}
