---
layout: page
title: "Locutus Hall of Fame"
permalink: /authors/
# {% assign typeCounter[author][types[0]] = typeCounter[author][types[0]] |plus: 1  %}
---

<p>
  You can find a list of core contributors on
  <a href="https://github.com/kvz/locutus/graphs/contributor">GitHub</a>,
  as well as a more finegrained achievement record below:
</p>

{% assign sortedLanguages = site.languages | sort: 'order' %}
{% for language in sortedLanguages %}
  <h2 id="{{language.name}}">{{language.human}} authors</h2>

  {% assign functions = site.functions |where: "language", language.name %}
  <section class="authors" data-language="{{language.name}}">
    {% for function in functions %}
      {% for types in function.authors %}
        {% for author in types[1] %}
          <entry data-function="{{function.function}}" data-type="{{types[0]}}">{{author |strip |markdownify}}</entry>
        {% endfor %}
      {% endfor %}
    {% endfor %}

    <div class="draw">
    </div>
  </section>
{% endfor %}
