.on-the-githubs li
  font-size: 90%
  list-style-type: none
  margin: 0
  padding: 4px
  height: 26px
  clear: both
  position: relative
  border-bottom: 1px solid #eee

  box-shadow: none
  -webkit-box-shadow: none
  -moz-box-shadow: none
  border: 0px none

  p
    line-height: 15px
    font-size: 15px
    margin: 0
    padding: 0
    display: inline-block
    float: left

    width: 200px

  abbr
    position: absolute
    right: 0
    float: left
    text-align: right

    display: none

  a
    font-weight: normal

  img
    float: left
    margin: 0 5px 0 0
    border-radius: 10px
    width: 20px
    height: 20px


section.authors
  entry
    display: none

  li
    a:before
      content: ""


.article-entry blockquote:before
  content: ""
