<section>
	<h1>Advertisement</h1>
  <div id="carbonads-container" style="padding-top: 20px !important; padding-left: 40px !important; "><div class="carbonad"><div id="azcarbon"></div><script type="text/javascript">var z = document.createElement("script"); z.type = "text/javascript"; z.async = true; z.src = "http://engine.carbonads.com/z/55999/azcarbon_2_1_0_VERT"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(z, s);</script></div></div>

  <h1>Uploading &amp; Encoding</h1>
  <p>
    Struggling with file uploads? I run a startup called
    <a title="File uploading &amp; encoding as a service" style="color: #3464a4;" href="http://transloadit.com">Transloadit</a> that deals with progress bars, ffmpeg, imagemagick so
    you can focus on your web/app. Check it out.
  </p>
</section>

