<section>
  <h1>Banners</h1>
  

  <a href="http://www.pledgie.com/campaigns/5962"><img alt="Click here to lend your support to: phpjs and make a donation at www.pledgie.com !" src="http://www.pledgie.com/campaigns/5962.png?skin_name=chrome" border="0"></a>

  <br />
  <br />
  
  <iframe src="http://api.flattr.com/button/view/?url=http%3A%2F%2Fphpjs.org&amp;" width="55" height="62" frameborder="0" scrolling="no" border="0" marginheight="0" marginwidth="0" allowtransparency="true"></iframe>

  
</section>
