<section>
  <h1>Build status</h1>

  <p>
    I've recently created a test-suite and hooked it up to Travis CI.
    Many tests are still failing so if you would like to help out and fix one it
    would be greatly appreciated. 
  </p>
  <p>
    <a href="https://travis-ci.org/kvz/phpjs"><img src="https://travis-ci.org/kvz/phpjs.png?branch=master" /></a>
  </p>
  <p>
    It's pretty easy to set things up:
  </p>
  <pre><code>git clone https://github.com/kvz/phpjs.git
cd phpjs/tests/
npm install
node cli.js --debug --name &lt;function_name&gt;
  </code></pre>


  <h1>Donate</h1>
  
  <br />

  <a href="http://www.pledgie.com/campaigns/5962"><img alt="Click here to lend your support to: phpjs and make a donation at www.pledgie.com !" src="http://www.pledgie.com/campaigns/5962.png?skin_name=chrome" border="0"></a>

  <br />
  <br />
  
  <iframe src="http://api.flattr.com/button/view/?url=http%3A%2F%2Fphpjs.org&amp;" width="55" height="62" frameborder="0" scrolling="no" border="0" marginheight="0" marginwidth="0" allowtransparency="true"></iframe>

  
</section>
